{%extends 'base.html'%}
{%import 'macros.html' as macro%}

{%block content%}
<a href="{{url_for('main.pitch')}}">Create Pitch</a>
<a class="btn btn-outline-info" href="{{url_for('auth.login')}}" >Log In</a>
           <a class="btn btn-outline-info" href="{{url_for('auth.register')}}">Sign In</a>        


<div class="well">
    <h1>Here are some of our favourite pitches that are sure to leave a lasting impression.</h1>
<ul>
    <p>About life:</p>
<li><h4> most beautiful things in the world cannot be seen or even touched. They must be felt with the heart.</h4></li>
<li><h4>You can't go back and change the beginning, but you can start where you are and change the ending.</h4></li>

<p>Pick-up lines:</p>
<li><h4>Even if there wasn't gravity on earth, I'd still fall for you.</h4></li>
<li><h4>Do you have a band-aid? cuz i scraped my knee falling for you.</h4></li>

<p>Product pitch</p>
<li><h4>The retail experience reimagined.</h4></li>
<li><h4>Don't leave home without it.</h4></li>
</ul>

</div>


{%endblock%}